<%= form_for([:admin, @page]) do |f| %>
  <% if @page.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@page.errors.count, "error") %> prohibited this page from being saved:</h2>

      <ul>
      <% @page.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <div class="label"><%= f.label :title %></div>
    <div class="input"><%= f.text_field :title %></div>
  </div>
  <div class="field">
    <div class="label"><%= f.label :content %></div>
    <div class="input left"><%= f.text_area :content, :class => 'rich_editor' %></div>
  </div>
  <div class="actions">
    <div class="submit"><%= f.submit %></div>
  </div>
<% end %>

<%= render 'admin/shared/set_rich_editor' %>