<div class="photo_item clear_fix">  
  <%- unless photo.new_record? -%>
    <div class="handle"><img src="/images/icons/order.png" alt="[+]"></div>
  <%- end -%>
  
  <div class="photo">
    <%= form.fields_for :photos, photo, :child_index => (photo.new_record? ? "index_to_replace_with_js" : nil) do |photo_form| %>  
      <div class="sub_row">
        <label>title</label> 
        <%= photo_form.text_field :title %>
      </div>
      <div class="sub_row clear_fix">
        <label>image</label>
        <div class="left">
          <% if photo.data? -%>
          <div><%= image_tag photo.data(:thumb), :alt => photo.title %></div>
          <div>replace with <%= photo_form.file_field :data %></div>
          <%- else -%>
          <%= photo_form.file_field :data %>
          <%- end -%> 
        </div>
      </div>
    
      <div class="sub_row clear_fix">
      <% if photo.new_record? -%>
      <%= link_to_function "Delete this photo", "remove_field($(this), ('.photo'))" %>
      <% else -%>
      <%= link_to "Delete this photo", admin_photo_path(photo), :method => :delete, 
                                                                :confirm => "Are you sure?", 
                                                                :remote => true %>
      <% end -%>
      </div>
    <% end %>
  </div>
</div>
