<% title "Albums", false %>

<!--
<div class="description">
  Albums
</div>
-->

<div class='index_header'>
  <span class='title'>List of albums</span>
  (<%= link_to "add a new album", new_admin_album_path %>)
  
  <span class="right"><%= will_paginate(@albums)%></span>
</div>

<div id="albums" class="index_container clear_fix">
  <% if @albums.empty? %>
  Please add a new album
  <% else %>
  <%- for album in @albums -%>
  <div id="album_<%= album.id %>" class="thumb_item left ajax_photo_item">
    <div class="left">
      <div class="image handle"><%= image_tag album.album_cover(:small) %></div>
    </div>
    <div class="right_bar left">
      <div class="actions">
        <%= link_to 'View & Edit', [:admin, album] %>
        <%= link_to 'Delete', admin_album_path(album), :confirm => 'Are you sure?', :method => :delete %>
      </div>
      <div class='title'>
        <%=h album.title %> 
        <span class="warning"><%=h "(#{album.photos.length} photos)" %></span>
      </div>
    </div>
    <div class="clear"></div>
  </div>
  <%- end -%>
  <%- end -%>
</div>

<% content_for :foot do %>
<script type="text/javascript" charset="utf-8">
  $(document).ready(function(){
    $('#albums').sortable({
      dropOnEmpty: false,
      handle: '.handle',
      cursor: 'move',
      items: '.ajax_photo_item',
      opacity: 0.4,
      scroll: true,
      update: function(){
        $.ajax({
          type: 'post',
          data: $('#albums').sortable('serialize'),
          dataType: 'script',
          complete: function(request){
            $('#albums').effect('highlight');
          },
          url: "<%= sort_admin_albums_path %>"})
        }
      });
  });
</script>
<% end %>
