<% title "Albums" %>

<div class="description">
  Albums
</div>

<div class='index_header'>
  <span class='title'>List of albums</span>
  (<%= link_to "add a new album", new_admin_album_path %>)
</div>

<div id="albums" class="index_container">
  <% if @albums.empty? %>
  Please add a new album
  <% else %>
  <%- for album in @albums -%>
  <div id="album_<%= album.id %>" class="index_item">
    <div class="handle"><img src="/images/icons/order.png" alt="[+]"></div>
    <div class="thumbnail"><%= image_tag album.album_cover(:small) %></div>
    <div class="title">
      <%=h album.title %> 
      <span class="warning"><%=h "(#{album.photos.length} photos)" %></span>
    </div>
    <div class="actions">
      <%= link_to 'View', [:admin, album] %> | 
      <%= link_to 'Edit', edit_admin_album_path(album) %> | 
      <%= link_to 'Delete this album', admin_album_path(album), :confirm => 'Are you sure?', :method => :delete %>
    </div>
    <div class="clear_fix"></div>
  </div>
  <%- end -%>
  <%- end -%>
</div>

<%= sortable_element("albums", :url => admin_albums_sort_path) %>
