<% title "Album: #{@album.title}", false %>

<% content_for :head do -%>
  <%= javascript_include_tag "album" %>
<% end -%>

<div class="nav_links clear_fix">
  <div class="left">
    <%= link_to 'All Albums', admin_albums_path %> / <%= @album.title %>
  </div>
  <div class="right">
    <%= link_to 'Add photo', edit_admin_album_path(@article) %>
  </div>
</div>

<div class="show_container">
  <div class="row">
    <div class="inline_edit_field inline_edit_textfield" field_name="album[title]"><%=h @album.title %></div>
  </div>

  <div class="row">
    <div class="inline_edit_field inline_edit_textarea" field_name="album[description]"><%=h @album.description %></div>
  </div>

  <div class="row clear_fix">
    <div id="photos" class="index_view_container">
      <% for photo in @album.photos %>
      <div id="photo_<%= photo.id %>" class="ajax_photo_item left">
        <div class="handle">
          <a href="<%= admin_album_photo_path(@album, photo) %>">
            <%= image_tag(photo.data(:thumb), :alt => photo.title) %>
          </a>
        </div>
      </div>
      <%- end -%>
    </div>
  </div>
</div>

<% content_for :foot do %>
<script type="text/javascript" charset="utf-8">
  $(document).ready(function(){
    $('#photos').sortable({
      dropOnEmpty: false,
      handle: '.handle',
      cursor: 'move',
      items: '.ajax_photo_item',
      opacity: 0.4,
      scroll: true,
      update: function(){
        $.ajax({
          type: 'post',
          data: $('#photos').sortable('serialize'),
          dataType: 'script',
          complete: function(request){
            $('#photos').effect('highlight');
          },
          url: "<%= sort_admin_photos_path %>"})
        }
      });
  });
</script>
<% end %>