<% title "Articles", false %>

<div class="index_container">
  <div class="description">
  </div>

  <div class='index_header'>
    <span class='title'>List of articles</span>
    (<%= link_to 'add a new article', new_admin_article_path %>)
  </div>

  <% if @articles.empty? %>
  Please add a new article
  <% else %>
  <table class="index">
    <tr>
      <th>Title</th>
      <th width="100">Date</th>
      <th class="actions">Actions</th>
    </tr>

  <% @articles.each do |article| %>
    <tr>
      <td><%= article.title %></td>
      <td><%= article.date %></td>
      <td class="actions">
        <%= link_to 'View & Edit', [:admin, article] %>
        <%= link_to 'Delete', [:admin, article], :confirm => 'Are you sure?', :method => :delete %>
      </td>
    </tr>
  <% end %>
  </table>
  <% end %>
</div>