<div id="top_bar" class="clear_fix">
  <div class="film_type_bar <%= params[:type] %>_selected left">
    <%= link_to "All", films_path, :class => 'all' %>
    /
    <%= link_to "Directorial", films_path(:type => "directorial"), :class => 'directorial' %>
    /
    <%= link_to "Editorial", films_path(:type => "editorial"), :class => 'editorial' %>
  </div>
  <div class="right">
    <%= will_paginate @films %>
  </div>
</div>