<div id="top_bar" class="clear_fix">
  <div class="film_type_bar <%= params[:type] %>_selected left">
    <%= link_to "Directorial", films_path(:type => "directorial"), :class => 'directorial' %>
    /
    <%= link_to "Editorial", films_path(:type => "editorial"), :class => 'editorial' %>
  </div>
  <div class="right">
    <%= will_paginate @films %>
  </div>
</div>

<div id="films_container" class="clear_fix">
  <% @films.each_slice(2) do |films| %>
  <% film = films.first %>
  <a class="film" href="<%= film_path(film) %>">
    <div class="section">
      <%= image_tag film.film_thumb(:medium) %>
      <h2><%= film.title %></h2>
      <p class="description rich_text"><%= film.description.html_safe %></p>
    </div>
    <div class="meta_section clear_fix">
      <div class="left">
        <p>Directed by: <%= film.director %></p>
        <p><%= film.film_length %> minutes</p>
        <p><%= film.languages %></p>
      </div>
      <div class="right">
        <p><%= film.year %></p>
        <p><%= film.color %></p>
      </div>
    </div>
  </a>
  <% if film = films.second %>
  <a class="film last_film" href="<%= film_path(film) %>">
    <div class="section">
      <%= image_tag film.film_thumb(:medium) %>
      <h2><%= film.title %></h2>
      <p class="description"><%= film.description %></p>
    </div>
    <div class="meta_section clear_fix">
      <div class="left">
        <p>Directed by: <%= film.director %></p>
        <p><%= film.film_length %> minutes</p>
        <p><%= film.languages %></p>
      </div>
      <div class="right">
        <p><%= film.year %></p>
        <p><%= film.color %></p>
      </div>
    </div>
  </a>
  <% end %>
  <% end %>
</div>
