<%= render 'header' %>

<div id="films_container" class="clear_fix">
  <% @films.each_slice(2) do |films| %>
  <% film = films.first %>
  <a class="film" href="<%= film_path(film) %>">
    <div class="section">
      <%= image_tag film.film_thumb(:medium) %>
      <h2><%= film.title %></h2>
      <div class="description rich_text"><%= film.description.html_safe.truncate(100) %></div>
    </div>
    <div class="meta_section clear_fix">
      <div class="left">
        <p>Directed by: <%= film.director %></p>
        <p><%= film.film_length %> minutes</p>
        <p><%= film.languages %></p>
      </div>
      <div class="right">
        <p><%= film.year %></p>
        <p><%= film.color %></p>
      </div>
    </div>
  </a>
  <% if film = films.second %>
  <a class="film last_film" href="<%= film_path(film) %>">
    <div class="section">
      <%= image_tag film.film_thumb(:medium) %>
      <h2><%= film.title %></h2>
      <div class="description rich_text"><%= film.description.html_safe %></div>
    </div>
    <div class="meta_section clear_fix">
      <div class="left">
        <p>Directed by: <%= film.director %></p>
        <p><%= film.film_length %> minutes</p>
        <p><%= film.languages %></p>
      </div>
      <div class="right">
        <p><%= film.year %></p>
        <p><%= film.color %></p>
      </div>
    </div>
  </a>
  <% end %>
  <% end %>
</div>

<% content_for :foot do %>
  <script type="text/javascript" charset="utf-8">
    jQuery(function($) { 
      //$('.film .description').jTruncate({ 'length': 100 });  
    });
  </script>
<% end %>
