<% content_for :title do %>
  - Photography
<% end %>

<div id="top_bar" class="clear_fix">
  <div class="left">
    <%= link_to "All Albums", albums_path %>
  </div>
  <div class="right">
    <%= will_paginate @albums %>
  </div>
</div>

<div id="albums_container">
  <% for album in @albums %>
  <% @albums.index(album) % 4 == 3 ? css_class = "last_album" : css_class = "" %>
  <div class="album <%= css_class %>">
    <%= link_to album_path(album) do %>
      <%= image_tag(album.album_cover.url(:small)) %>
      <div class="title"><%= album.title %></div>
    <% end %>
  </div>
  <% end %>
</div>