<% content_for :title do %>
  - Photography
<% end %>

<div id="top_bar" class="clear_fix">
  <div class="left">
    <%= link_to "all albums", albums_path %> / <%= @album.title %>
  </div>
  <div class="right">
    <%= will_paginate @photos %>
  </div>
</div>

<div id="photos_container" class="clear_fix">
  <% for photo in @photos %>
  <% @photos.index(photo) % 4 == 3 ? css_class = "last_photo" : css_class = "" %>
  <div class="photo_container <%= css_class %>">
    <div class="photo">
      <span></span>
      <a rel="prettyPhoto[pp_gal]" href="<%= photo.data.url(:large) %>" title=""><%= image_tag(photo.data.url(:small), :alt => photo.title) %></a>
    </div>
  </div>
  <% end %>
</div>

<% content_for :foot do %>
  <%= stylesheet_link_tag 'prettyPhoto' %>
<% end %>

<% content_for :foot do %>
  <%= javascript_include_tag 'jquery.prettyPhoto' %>
  <script type="text/javascript" charset="utf-8">
    $("a[rel^='prettyPhoto']").prettyPhoto({ 
      theme: 'dark_square', 
      default_width: 800,
      default_height: 400,
      show_title: false,
      social_tools : ''
    });
  </script>
<% end %>