<% content_for :head do %>
<link href="/uploadify/uploadify.css" type="text/css" rel="stylesheet" />
<script type="text/javascript" src="/uploadify/swfobject.js"></script>
<script type="text/javascript" src="/uploadify/jquery.uploadify.v2.1.4.min.js"></script>
<script type="text/javascript">
  $(function() {  
    <% arr = [] %>
    <% request.env['HTTP_COOKIE'].each_char{|c| arr.push(c[0].to_s)} %>
    <% session = arr.join("@") %>
    
    $('#film_video').uploadify ({
      expressInstall  : '/uploadify/expressInstall.swf',
      uploader        : '/uploadify/uploadify.swf',
      multi           : true,
      auto            : true,
      script          : '<%= admin_videos_path %>',
      fileDataName    : 'video[video_data]',
      fileExt         : '*.mov;*.mp4;*.avi;*.wmv;*.flv',
      fileDesc        : 'Movie file',
      onComplete      : function(a, b, c, response){ $('#upload_field').html('Upload Successfully! Please remember to save the change.'); },
      scriptData      : { 'format': 'json',
                          '_method': 'post',
                          'session_encoded' : '<%= u session %>',
                          'authenticity_token': encodeURIComponent('<%= u form_authenticity_token %>'),
                          'associate_id': $('#associate_id').val()
                        },
      cancelImg       : '/uploadify/cancel.png'  //take care that the image is accessible
    });
  });
</script>

<%= javascript_include_tag 'swfobject' %>
<% end %>

<%= form_for([:admin, @film], :html => { :multipart => true }) do |f| %>
  <% if @film.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@film.errors.count, "error") %> prohibited this film from being saved:</h2>

      <ul>
      <% @film.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <div class="label"><%= f.label :film_type %></div>
    <div class="input"><%= f.select :film_type, Film::FILM_TYPES %></div>
  </div>
  <div class="field">
    <div class="label"><%= f.label :title %></div>
    <div class="input"><%= f.text_field :title %></div>
  </div>
  <div class="field">
    <div class="label"><%= f.label :description %></div>
    <div class="input left"><%= f.text_area :description, :class => 'rich_editor' %></div>
  </div>
  <div class="field">
    <div class="label"><%= f.label :director %></div>
    <div class="input"><%= f.text_field :director %></div>
  </div>
  <div class="field">
    <div class="label"><%= f.label :year %></div>
    <div class="input"><%= f.text_field :year %></div>
  </div>
  <div class="field">
    <div class="label"><%= f.label :color %></div>
    <div class="input"><%= f.text_field :color %></div>
  </div>
  <div class="field">
    <div class="label"><%= f.label :film_length %></div>
    <div class="input"><%= f.text_field :film_length %></div>
  </div>
  <div class="field">
    <div class="label"><%= f.label :languages %></div>
    <div class="input"><%= f.text_field :languages %></div>
  </div>
  <div class="field clear_fix">
    <div class="label left">
      <label for="film_thumb">Film Thumbnail</label>
      <div class="warning">at least 800 pixels wide</div>
    </div>
  <% if @film.film_thumb.exists? -%>
    <div class="left">
      <div><%= image_tag(@film.film_thumb(:medium), :style => 'width: 300px;') %></div>
      <div>replace with <%= f.file_field :film_thumb %></div>
    </div>
  <% else -%>
    <%= f.file_field :film_thumb %>
  <% end -%>
  </div>
  <div class="field clear_fix">
    <%= hidden_field_tag 'associate_id', "#{params[:associate_id] || 'film_'+Time.now.to_i.to_s}", :id => 'associate_id' %>
    <div class="label left">
      <label for="film_thumb">Film Video</label>
      <div class="warning">please upload .mov format</div>
    </div>
    <div id="upload_field" class="left">
    <% if @film.film_video.nil? -%>
      <%= f.file_field :video, :id => "film_video" %>
    <% else -%>
      <div>
        <%= player({:file => @film.film_video.url, :image => @film.film_thumb.url(:preview) }, 
                   {:width => 370, :height => 239, :player_id => "jw_player-#{@film.id}", :id => "flash_player-#{@film.id}", :wmode => "transparent"}) %>
      </div>
      <div><%= link_to "Download video", @film.film_video.url %></div>
      <div class="select_files_block clear_fix">
        <span>replace with</span> 
        <span><%= f.file_field :video, :id => "film_video" %></span>
      </div>
    <% end -%>
    </div>
  </div>
  <div class="actions">
    <div class="submit"><%= f.submit %></div>
  </div>
<% end %>

<%= render 'admin/shared/set_rich_editor' %>