<% title "Films", false %>

<div class="index_container">
  <div class="description">
  </div>

  <div class='index_header clear_fix'>
    <span class='title'>List of films</span>
    (<%= link_to 'add a new film', new_admin_film_path %>)
    
    <span class="right"><%= will_paginate(@films)%></span>
  </div>

  <% if @films.empty? %>
  Please add a new film
  <% else %>
  <% @films.each do |film| %>
  <div class="thumb_item left">
    <div class="image left">
      <%= image_tag film.film_thumb.url(:medium) %>
    </div>
    <div class="right_bar left">
      <div class="actions">
        <%= link_to 'View & Edit', [:admin, film] %>
        <%= link_to 'Delete', [:admin, film], :confirm => 'Are you sure?', :method => :delete %>
        <%= link_to (film.hidden? ? 'Publish' : 'Hide'), toggle_published_admin_film_path(film), :method => :post, :remote => true, :class => 'ajax_toggle_published' %>
      </div>
      <div class="title">
        <%= film.title %>
      </div>
    </div>
    <div class="clear"></div>
  </div>
  <% end %>
  
  <% end %>
</div>
