<% content_for :head do %>
<%= javascript_include_tag 'swfobject' %>
<% end %>

<div id="show_wrapper">
  <div class="nav_links clear_fix">
    <div class="left"><%= link_to 'Back to List', admin_films_path %></div>
    <div class="right"><%= link_to 'Edit', edit_admin_film_path(@film) %></div>
  </div>

  <div class="show_container">
    <div class="row">
      <div class="label">Film type</div>
      <div class="data"><%= @film.film_type %></div>
    </div>
    <div class="row">
      <div class="label">Title</div>
      <div class="data"><%= @film.title %></div>
    </div>
    <div class="row">
      <div class="label">Description</div>
      <div class="data rich_text"><%= @film.description.html_safe %></div>
    </div>
    <div class="row">
      <div class="label">Director</div>
      <div class="data"><%= @film.director %></div>
    </div>
    <div class="row">
      <div class="label">Year</div>
      <div class="data"><%= @film.year %></div>
    </div>
    <div class="row">
      <div class="label">Color</div>
      <div class="data"><%= @film.color %></div>
    </div>
    <div class="row">
      <div class="label">Film length</div>
      <div class="data"><%= @film.film_length %></div>
    </div>
    <div class="row">
      <div class="label">Languages</div>
      <div class="data"><%= @film.languages %></div>
    </div>
    <div class="row">
      <div class="label">Thumbnail</div>
      <% if @film.film_thumb.exists? %>
      <span>
        <div><%= image_tag(@film.film_thumb(:medium)) %></div>
      </span>
      <% else %>
      None
      <% end %>
    </div>
    <div class="row">
      <div class="label">Video</div>
      <% if @film.video.nil? %>
      None
      <% else %>
      <span>
        <%= player({:file => @film.video.video_data.url, :image => @film.film_thumb.url(:preview) }, 
                   {:width => 370, :height => 239, :player_id => "jw_player-#{@film.id}", :id => "flash_player-#{@film.id}", :wmode => "transparent"}) %>
      </span>
      <% end %>
    </div>
  </div>
</div>