<!DOCTYPE html>
<html>  
  <head>  
    <title><%=h yield_for(:title, "Portfolio") %></title>  
  
    <%= stylesheet_link_tag "public", "orbit", "rich_text" %>  
    <!--[if lt IE 8]>
    <style>
    .photo span {
      display: inline-block;
      height: 100%;
    }
    </style><![endif]-->
    
    <%= javascript_include_tag 'jquery', 'jquery-ui', 'jquery.orbit', 'jquery.jtruncate' %>
    <%= javascript_include_tag 'rails' %> 
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tag %>  
    <%= yield(:head) %>  
  </head>  
  <body>
    <div id="container"> 
      <div id="flash_msgs"> 
        <% flash.each do |name, msg| %>  
          <%= content_tag :div, msg, :id => "flash_#{name}" %>  
        <% end %>
      </div>
      
      <div id="header_wrap">
        <div id="header">
          <div id="logo"><%= link_to "<span class='hidden'>Wei-Hsin Yang</span>".html_safe, root_path %></div>
        </div> <!-- END header -->
      </div>

      <div id="navigation_wrap" class="clear">
        <div id="navigation">
          <%= render_navigation %>
        </div>
      </div>
      
      <div id="main_wrap">
        <div id="main">
          <%- if show_title? -%>
          <div id="headtitle"><%=h yield(:title) %></div>
          <%- end -%>
          
          <%= yield %> 
        </div>
      </div>
      
      <div id="footer_wrap">
        <div id="footer">
          © 2010 Wei-hsin Yang
        </div>
      </div>
    </div>
    <%= yield(:foot) %>
  </body>  
</html>